/* posts/index ================================ */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}


/*tweet（入力フォーム）*/
.tweet input{
  margin: 10px 0px 40px 0px;
  border: 200px;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
.tweet input[type='text']{
  font: 25px sans-serif;
	width: 85%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.tweet input[type='submit']{
  width: 20%;
}
